body
{
    color: purple;
    margin: 3% 15% 3%;
}

h1
{
    font-size: 4em;
    margin: 0 auto 0;
}

form
{
    width: 70%;
    margin: 0 15% 0;
}

#main, .search
{
    width: 60%;
    margin: 0 20% 0;
}

input, label
{
    float: left;
    width: 100%;
}

fieldset
{
    border: 5px solid purple;
}

input
{
    border: 2px solid mediumpurple;
    margin-bottom: 1%;
}

label
{
    margin: 1% 0 1%;
}

.sex, .tel
{
    display: inline-block;
    width: 10%;
}

.sex > input, .tel > input
{
    width: 100%;
}

fieldset
{
    margin-top: 2%;
}

textarea
{
    width: 100%;
    color: grey;
    margin: 2% 0 2%;
    min-height: 30%;
}

table
{
    border-collapse: collapse;
    background-color: beige;
    width: 100%;
}

td, th
{
    border: 2px solid white;
    padding: 1%;
}

th
{
    background-color: rosybrown;
    font-size: 1.5em;
    height: 10%;
}

#page-tab
{
    list-style: none;
    margin: 0 auto 0;
}

.page-button
{
    display: inline-block;
    padding: 0 9px;
    margin-right: 4px;
    background-color: mediumvioletred;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:link, a:active, a:hover, a:visited
{
    color: black;
}

#telephone-table input, #attachment-table input
{
    margin: 0;
}

button, .button
{
    display: inline-block;
    font-weight: bold;
    background-color: mediumvioletred;
    color: white;
    border: none;
    margin: 1%;
}

#date-tab > input
{
    display: inline-block;
    width: 14%;
    margin-right: 15%;
}

#attachment-pop-up, #telephone-pop-up, #avatar-pop-up{
    display: none;
    width:60%;
    position:fixed;
    top:3%;
	left:20%;
    margin:2% auto 0 auto;
    height: auto;
    padding: 2%;
    background-color: white;
    border-radius:5px;
	border: 5px solid purple;
}

.available-template{
    display: none;
}

.deleted{
    display: none;
}

img{
    max-height: 50ex;
    margin: 0 auto 0;
}

.checkbox
{
    width: 20%;
}