body
{
    color: purple;
    margin: 3% 15% 3%;
}

h1
{
    font-size: 5em;
}

form
{
    padding: 1% 10% 1%;
    width: 80%;
}

input, label
{
    float: left;
    width: 100%;
}

fieldset
{
    border: 5px solid purple;
}


input
{
    border: 2px solid mediumpurple;
}

label
{
    margin: 1% 0% 1%;
}

.sex, .tel
{
    width: auto;
}

fieldset
{
    margin-top: 2%;
}

.checkbox{
    float: none;
    min-width: 15%;
    border: none;
}

textarea
{
    width: 100%;
    color: grey;
    margin: 2% 0 2%;
}

table
{
    border-collapse: collapse;
    background-color: beige;
    width: 100%;
}

td, th
{
    padding: 1%;
    border: 2px solid white;
}

th
{
    background-color: rosybrown;
    font-size: 1.5em;
}

#page-tab
{
    list-style: none;
    margin: 0 auto 0;
}

.page-button
{
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    background-color: mediumvioletred;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.active{
    background-color: white;
}

a:link, a:active, a:hover, a:visited
{
    color: black;
}

#telephone-table input, #attachment-table input
{
    margin: 0;
}

button, .button
{
    display: inline-block;
    font-weight: bold;
    background-color: mediumvioletred;
    color: white;
    border: none;
}

#date-tab > input
{
    display: inline-block;
    width: 30%;
}

#attachment-pop-up, #telephone-pop-up, #avatar-pop-up{
    display: none;
    width:80%;
    position:fixed;
    top:2%;
	left:10%;
    margin:2% auto 0px auto;
    height: auto;
    padding:10px;
    background-color: white;
    border-radius:5px;
	border: 5px solid purple;
}

.available-template{
    display: none;
}

.deleted{
    display: none;
}
