body
{
    color: purple;
    margin: 10% 10% 10%;
}

h1
{
    font-size: 5em;
}

form
{
    margin: 5% 5% 5%;
}

input, label
{
    float: left;
    margin: 2% 2% 2%;
}

.sex, .tel
{
    width: auto;
}

fieldset
{
    margin-top: 2%;
}

button
{
    margin: 0 auto 0;
}

textarea
{
    width: 100%;
    color: grey;
    margin: 2% 0 2%;
}

table
{
    border-collapse: collapse;
    background-color: beige;
    width: 100%;
}

td, th
{
    padding: 1%;
    border: 2px solid white;
}

#page-tab
{
    list-style: none;
    margin: 0 auto 0;
}

.page-button li
{
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}
